@mixin poppins-font($size, $weight, $height) {
  font-family: "Poppins", sans-serif;
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
}

@mixin inter-font($size, $weight, $height) {
  font-family: "Inter", sans-serif;
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
}

@mixin line-clamp($line-no) {
  display: -webkit-box;
  -webkit-line-clamp: $line-no;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
