$primary-color: #519043;
$secondary-color: #fafdf6;

$black-color: #202020;
$white-color: #fff;
$yellow-color: #ffc001;
$blue-color: #0176ff;
$red-color: #ff0000;
$gray-color: #6d6d6d;

$light-blue-color: #bdf1ff;
$light-gray-color: #f0f0f0;
$dark-gray-color: #d9d9d9;
$border-color: rgb(222, 226, 230);
$light-green-color: #8dc63f;
